<a href="https://colab.research.google.com/github/rohan604037/ML-lab/blob/main/lab1/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from sklearn import datasets
import pandas as pd

print("This is the program to access iris dataset")
iris = datasets.load_iris()

print("To print the description of iris dataset")
print(iris.DESCR)

print("\n\n\n")

# df will hold dataset as a table
df = pd.DataFrame(
    iris.data,
    columns=iris.feature_names
)

# labels are assigned to df (target)
df['target'] = pd.Series(iris.target)

df['target_names'] = df['target'].apply(
    lambda y: iris.target_names[y]
)

print("To display first 5 samples")
# df.head(5) will return the 1st 5 samples of dataset
print(df.head(5))


print("To display 5 samples randomly")
print(df.sample(5))

# Train test split ratio
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.3)  # for 70:30 split

print("The total no. of samples in the dataset =", df.shape[0])
print("The no. of samples in training set =", df_train.shape[0])
print("The no. of samples in testing set =", df_test.shape[0])

print("The first five samples of train")
print(df_train.head(5))

print("The first five samples of test")
print(df_test.head(5))

This is the program to access iris dataset
To print the description of iris dataset
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...





To display first 5 samples
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target target_names
0       0       setosa
1       0       setosa
2       0       setosa
3       0       setosa
4       0       setosa
To display 5 samples randomly
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
87                 6.3               2.3                4.4               1.3
18                 5.7               3.8                1.7               0.3
133                6.3               2.8                5.1               1.5
60                 5.0               2.0                3.5               1.0
61                 5.9               3.0                4.2               1.5

     target target_names
87        1   versicolor
18        0       setosa
133       2    virginica
60        1   versicolor
61        1   versicolor
The total no. of samples in the dataset = 150
The no. of samples in training set = 105
The no. of samples in testing set = 45
The first five samples of train
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
93                 5.0               2.3                3.3               1.0
11                 4.8               3.4                1.6               0.2
118                7.7               2.6                6.9               2.3
42                 4.4               3.2                1.3               0.2
55                 5.7               2.8                4.5               1.3

     target target_names
93        1   versicolor
11        0       setosa
118       2    virginica
42        0       setosa
55        1   versicolor
The first five samples of test
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
125                7.2               3.2                6.0               1.8
66                 5.6               3.0                4.5               1.5
139                6.9               3.1                5.4               2.1
123                6.3               2.7                4.9               1.8
121                5.6               2.8                4.9               2.0

     target target_names
125       2    virginica
66        1   versicolor
139       2    virginica
123       2    virginica
121       2    virginica